{% extends 'base.html' %}
{% load static %}
{% block title %} Widget's Announcement Board {% endblock %}
{% block content %}

<h1>Welcome to Widget's Announcement Board!</h1>
<h2>Announcements:</h2>
<ul>
{% for announcement in Announcements %}
  <li>
    <a href="{{ announcement.get_absolute_url }}">
      {{ announcement.title }} by 
      {{ announcement.author.first_name }} {{ announcement.author.last_name }}
    </a>
  </li>
{% empty %}
  <li>No announcements</li>
{% endfor %}
</ul>

<form action="{% url 'announcement_board:announcement-add' %}">
    <input type="submit" value="New Announcement" />
</form>

<div class="footer">
  <a href="/dashboard/">Dashboard</a><br>
  <a href="/forum/">Forum</a><br>
  <a href="/assignments/">Assignments</a><br>
  <a href="/calendar/">Calendar</a><br>
</div>
{% endblock %}
